// ======== Hero section ========

.title_96_48 {
  position: relative;
  z-index: 3;
  margin-bottom: 40px;
  color: #f9f2eb;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  @media (max-width: 768px) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (max-width: 480px) {
    margin-bottom: 12px;
  }
}

.text_48_32 {
  position: relative;
  z-index: 3;
  padding-bottom: 100px;
  color: #f2d129;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;

  @media (max-width: 1360px) {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  }

  @media (max-width: 1024px) {
    text-shadow: none;
  }

  @media (max-width: 768px) {
    padding-bottom: 224px;
  }

  @media (max-width: 480px) {
    font-size: 32px;
    line-height: 120%;
  }
}

.top_section {
  position: relative;
  height: 100vh;
  min-height: 670px;
  padding-top: 148px;
  background-color: #0476d9;
  overflow: hidden;

  @media (max-width: 1024px) {
    height: auto;
  }

  @media (max-width: 768px) {
    gap: 40px;
    padding-top: 78px;
  }

  @media (max-width: 480px) {
    gap: 20px;
    padding-top: 84px;
  }

  .bg {
    content: '';
    width: 100%;
    height: 60px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-radius: 60px 60px 0 0;
    background-color: #292925;
  }

  .container {
    display: flex;
    align-items: start;
    gap: 56px;
    height: 100%;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__left {
    width: calc((545 * 100vw) / 1515);
    height: 100%;
    overflow: hidden;

    @media (max-width: 1024px) {
      width: 100%;
      height: 354px;
    }

    img {
      position: relative;
      z-index: 3;
      width: 100%;
      height: 100%;
      object-position: 50% 15%;
      object-fit: cover;
      border-radius: 60px;

      @media (max-width: 1024px) {
        height: 354px;
      }

      @media (max-width: 480px) {
        border-radius: 20px;
      }
    }
  }

  .figure {
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 16px;
    width: 545px;

    @media (max-width: 1500px) {
      width: 30vw;
      min-width: 320px;
    }

    @media (max-width: 768px) {
      min-width: 220px;
    }
  }
}

// ======== Concept section ========

.concept_section {
  background: #292925;
  padding-top: 150px;

  @media screen and (max-width: 1511px) {
    padding-top: 190px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
}

.concept-block {
  border-radius: 60px;
  background: #f2d129;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1511px) {
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    border-radius: 20px;
  }
}

.concept-img {
  width: 60%;
  // height: 680px;
  height: auto;
  object-fit: cover;

  border-radius: 60px;
  aspect-ratio: 910/680;

  @media screen and (max-width: 1511px) {
    width: 100%;
    // height: 545px;
    aspect-ratio: 736/545;
  }

  @media screen and (max-width: 767px) {
    border-radius: 20px;
    aspect-ratio: 343/254;
    // height: 254px;
  }
}

.concept-content-block {
  padding: 60px;
  width: 40%;

  @media screen and (max-width: 1511px) {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    padding: 28px 20px 40px;
  }
}

.concept-title {
  @include subtitle-text;

  font-size: 36px;
  margin-bottom: 28px;
  color: #255599;
  max-width: 441px;

  @media screen and (max-width: 1511px) {
    max-width: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin: 0 auto 12px;
  }
}

.concept-text {
  @include general-text;

  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 48px;
  max-width: 434px;

  @media screen and (max-width: 1511px) {
    max-width: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    margin: auto;
    margin-bottom: 28px;
  }
}

.concept-link {
  @include general-text;

  font-size: 16px;
  line-height: 140%;
  color: #292925;
  border-radius: 100px;
  background: #ff693c;
  padding: 15px;
  display: block;
  text-align: center;
  height: 52px;
  max-width: 252px;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    color: #f9f2eb;
    background-color: rgb(234, 99, 58);
  }
}

.concept-logo {
  position: relative;
  margin-top: -88px;

  aspect-ratio: 1512/317;

  @media screen and (max-width: 1511px) {
    aspect-ratio: 768/161;
    margin-top: -38px;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 375/79;
    margin-top: -16px;
  }
}

// ======== Advantages section ========

.advantages-section {
  padding-top: 210px;
  background: #f9f2eb;

  @media screen and (max-width: 1511px) {
    padding-top: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 120px;
  }
}

.advantages-title {
  @include title-text;

  font-size: 96px;
  margin-bottom: 60px;
  color: #255599;
  text-align: center;

  @media screen and (max-width: 1511px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.advantages-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;

  @media (max-width: 1366px) {
    grid-template-columns: 1fr;
  }
}

.advantages-item {
  overflow: hidden;
  border-radius: 60px;
  width: 100%;

  &:nth-child(1) {
    background-color: #f2d129;
  }

  &:nth-child(2) {
    background-color: #f0db7b;
  }

  &:nth-child(3) {
    background-color: #92b634;
    max-width: 100%;
    padding: 60px;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    gap: 60px;

    .advantages-item__image {
      max-width: 670px;
      max-height: 627px;
      aspect-ratio: 670 / 627;
      object-fit: contain;
    }

    .advantages-item__content-block {
      padding: 0;
    }

    .advantages-item__text {
      max-width: 550px;
    }

    @media screen and (max-width: 1511px) {
      flex-direction: column;
      align-items: start;

      .advantages-item__image {
        aspect-ratio: 616/ 566;
        margin: 0 auto;
        // height: 566px;
      }

      .advantages-item__text {
        max-width: none;
      }
    }

    @media screen and (max-width: 767px) {
      padding: 20px 20px 40px;
      gap: 20px;

      .advantages-item__image {
        aspect-ratio: 303/ 281;
        // height: 281px;
      }
    }
  }

  &:nth-child(4) {
    background-color: #ff693c;

    .advantages-item__title {
      color: #f9f2eb;
    }
  }

  &:nth-child(5) {
    background-color: #0476d9;

    .advantages-item__title,
    .advantages-item__text {
      color: #f9f2eb;
    }
  }

  @media screen and (max-width: 767px) {
    border-radius: 20px;
  }
}

.advantages-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 730 / 439;

  @media screen and (max-width: 1511px) {
    aspect-ratio: 736 / 439;
    // height: 439px;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343 / 206;
    // height: 206px;
  }
}

.advantages-item__content-block {
  padding: 60px;

  @media screen and (max-width: 767px) {
    padding: 28px 20px 40px;
  }
}

.advantages-item__title {
  @include subtitle-text;

  font-size: 36px;
  margin-bottom: 20px;
  color: #255599;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

.advantages-item__text {
  @include general-text;

  font-size: 21px;
  line-height: 140%;
  color: #292925;
  max-width: 610px;

  @media screen and (max-width: 1511px) {
    max-width: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

// ======== Summary section ========

.summary-section {
  padding-top: 210px;
  background-color: #f9f2eb;
  position: relative;

  @media screen and (max-width: 1511px) {
    padding-top: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 120px;
  }
}

.summary-content-block {
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  width: 100%;
  height: 1340px;

  aspect-ratio: 1480/1340;

  @media screen and (max-width: 1511px) {
    aspect-ratio: 736 /1340;
    height: 1340px;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343 /820;
    border-radius: 20px;
    height: 820px;
  }
}

.summary-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.summary-text-block {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;

  @media screen and (max-width: 767px) {
    top: 60px;
  }
}

.summary-title {
  @include title-text;

  font-size: 96px;
  margin-bottom: 40px;
  color: #255599;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.summary-text {
  @include subtitle-text;

  font-size: 36px;
  max-width: 732px;
  color: #4d4636;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (max-width: 1511px) {
    min-width: 548px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 40px;
    min-width: 303px;
  }
}

.summary-link {
  @include general-text;

  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #292925;
  display: block;
  margin: auto;

  background-color: #ff693c;
  padding: 15px;
  border-radius: 100px;
  max-width: 358px;

  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    color: #f9f2eb;
    background-color: rgb(234, 99, 58);
  }
}

.summary-decor-1,
.summary-decor-2 {
  position: absolute;
  top: 333px;
  object-fit: contain;

  @media screen and (max-width: 1511px) {
    display: none;
  }
}

.summary-decor-1 {
  left: -300px;
  width: 792px;
  height: 680px;
}

.summary-decor-2 {
  right: -300px;
  width: 792px;
  height: 680px;
}

// ======== Gallery section ========

.gallery-section {
  padding-top: 210px;
  padding-bottom: 210px;
  background-color: #f9f2eb;

  @media screen and (max-width: 1511px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.gallery-title {
  @include title-text;

  font-size: 96px;
  text-align: center;
  margin-bottom: 60px;
  color: #255599;

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.gallery-images-block {
  position: relative;
  border-radius: 60px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    border-radius: 20px;
  }
}

.gallery-image {
  width: 100%;
  // height: 800px;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1480 / 800;

  @media screen and (max-width: 1511px) {
    aspect-ratio: 736 / 570;
    // height: 570px;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343 / 470;
    // height: 470px;
  }
}

.mobile.landscape {
  height: 270px;
}

.gallery-next-btn,
.gallery-prev-btn {
  width: 72px;
  height: 72px;
  background-color: #f2d129;
  padding: 20px;
  border-radius: 100px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #292925;
  }

  @media screen and (max-width: 767px) {
    width: 40px;
    height: 40px;
    padding: 13px;
  }
}

.gallery-next-btn {
  right: 20px;
}

.gallery-prev-btn {
  left: 20px;
}

.gallery-next-icon,
.gallery-prev-icon {
  width: 32px;
  height: 32px;

  @media screen and (max-width: 767px) {
    width: 14px;
    height: 14px;
  }
}

.gallery-prev-icon {
  transform: rotate(180deg);
}

.gallery-images-block .swiper-button-next,
.gallery-images-block .swiper-button-prev {
  background-color: transparent;
}

.gallery-images-block .swiper-button-next:after,
.gallery-images-block .swiper-button-prev:after {
  display: none;
}

.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: unset;
  height: unset;
}

// ======== About section ========

.about-section {
  padding-top: 210px;
  background-color: #f9f2eb;
  position: relative;
  width: 100%;

  @media screen and (max-width: 1511px) {
    padding-top: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 160px;
  }
}

.about-text-block {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  width: 100%;
}

.about-title {
  @include title-text;

  font-size: 96px;
  text-align: center;
  margin-bottom: 40px;
  color: #255599;
  min-width: 560px;

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
    min-width: auto;
  }
}

.about-link {
  @include general-text;

  font-size: 16px;
  line-height: 140%;
  color: #292925;
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 358px;
  height: 52px;
  padding: 18px;
  background-color: #ff693c;
  border-radius: 100px;

  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    color: #f9f2eb;
    background-color: rgb(234, 99, 58);
  }

  @media screen and (max-width: 767px) {
    max-width: 343px;
  }
}

.about-image-block {
  width: 100%;
  position: relative;
  aspect-ratio: 1512 / 605;

  @media screen and (max-width: 1511px) {
    aspect-ratio: 768 / 700;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 345 / 400;
  }
}

.about-build-img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  z-index: 2;
}

.about-decor-img-1,
.about-decor-img-2 {
  position: absolute;
  object-fit: contain;
  z-index: 1;
}

.about-decor-img-1 {
  left: 36px;
  max-width: 732px;
  height: 100%;
  max-height: 692px;
  top: -80px;

  @media screen and (max-width: 1511px) {
    width: auto;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 1366px) {
    height: 50vh;
  }

  @media screen and (max-width: 767px) {
    left: -80px;
  }

  @media screen and (max-width: 480px) {
    height: 40vh;
  }
}

.about-decor-img-2 {
  right: 40px;
  width: 100%;
  max-width: 612px;
  height: 100%;
  max-height: 692px;
  top: -80px;

  @media screen and (max-width: 1511px) {
    top: 0px;
    right: 0;
    width: auto;
  }

  @media screen and (max-width: 1366px) {
    height: 50vh;
  }

  @media screen and (max-width: 767px) {
    right: -80px;
  }

  @media screen and (max-width: 480px) {
    height: 40vh;
  }
}
