// ======== Hero section ========
// ======== Concept section ========

.concept_section {
  background: #292925;
  padding-top: 150px;

  @media screen and (max-width: 1511px) {
    padding-top: 190px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 20px;
  }
}

.concept-block {
  border-radius: 60px;
  background: #f2d129;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1511px) {
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    border-radius: 20px;
  }
}

.concept-img {
  width: 60%;
  height: 100%;
  object-fit: cover;

  border-radius: 60px;
  aspect-ratio: 910/680;

  @media screen and (max-width: 1511px) {
    aspect-ratio: 736/545;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343/254;
    border-radius: 20px;
  }
}

.concept-content-block {
  padding: 60px;
  width: 40%;

  @media screen and (max-width: 1511px) {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    padding: 28px 20px 40px;
  }
}

.concept-title {
  @include subtitle-text;

  font-size: 36px;
  margin-bottom: 28px;
  color: #255599;
  max-width: 441px;

  @media screen and (max-width: 1511px) {
    max-width: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin: 0 auto 12px;
  }
}

.concept-text {
  @include general-text;

  font-size: 21px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 48px;
  max-width: 434px;

  @media screen and (max-width: 1511px) {
    max-width: none;
  }

  @media screen and (max-width: 767px) {
    font-size: 16px;
    margin: auto;
    margin-bottom: 28px;
  }
}

.concept-link {
  @include general-text;

  font-size: 16px;
  line-height: 140%;
  color: #292925;
  border-radius: 100px;
  background: #ff693c;
  padding: 15px;
  display: block;
  text-align: center;
  height: 52px;
  max-width: 252px;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    color: #f9f2eb;
    background-color: rgb(234, 99, 58);
  }
}

.concept-logo {
  position: relative;
  margin-top: -88px;

  aspect-ratio: 1512/317;

  @media screen and (max-width: 1511px) {
    aspect-ratio: 768/161;
    margin-top: -38px;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 375/79;
    margin-top: -16px;
  }
}

// ======== Advantages section ========

.advantages-section {
  padding-top: 210px;
  background: #f9f2eb;

  @media screen and (max-width: 1511px) {
    padding-top: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 120px;
  }
}

.advantages-title {
  @include title-text;

  font-size: 96px;
  margin-bottom: 60px;
  color: #255599;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.advantages-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;

  @media (max-width: 1511px) {
    grid-template-columns: 1fr;
  }
}

.advantages-item {
  overflow: hidden;
  border-radius: 60px;
  width: 100%;

  &:nth-child(1) {
    background-color: #f2d129;
  }

  &:nth-child(2) {
    background-color: #f0db7b;
  }

  &:nth-child(3) {
    background-color: #92b634;
    max-width: 100%;
    padding: 60px;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    gap: 60px;

    .advantages-item__image {
      max-width: 670px;
      max-height: 627px;
      aspect-ratio: 670 / 627;
    }

    .advantages-item__content-block {
      padding: 0;
    }

    .advantages-item__text {
      max-width: 550px;
    }

    @media screen and (max-width: 1511px) {
      flex-direction: column;
      align-items: start;

      .advantages-item__image {
        aspect-ratio: 616/ 566;
        margin: 0 auto;
      }

      .advantages-item__text {
        max-width: none;
      }
    }

    @media screen and (max-width: 767px) {
      padding: 20px 20px 40px;
      gap: 20px;

      .advantages-item__image {
        aspect-ratio: 303/ 281;
      }
    }
  }

  &:nth-child(4) {
    background-color: #ff693c;

    .advantages-item__title {
      color: #f9f2eb;
    }
  }

  &:nth-child(5) {
    background-color: #0476d9;

    .advantages-item__title,
    .advantages-item__text {
      color: #f9f2eb;
    }
  }

  @media screen and (max-width: 767px) {
    border-radius: 20px;
  }
}

.advantages-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 730 / 439;

  @media screen and (max-width: 1511px) {
    aspect-ratio: 736 / 439;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343 / 206;
  }
}

.advantages-item__content-block {
  padding: 60px;

  @media screen and (max-width: 767px) {
    padding: 28px 20px 40px;
  }
}

.advantages-item__title {
  @include subtitle-text;

  font-size: 36px;
  margin-bottom: 20px;
  color: #255599;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

.advantages-item__text {
  @include general-text;

  font-size: 21px;
  line-height: 140%;
  color: #292925;

  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}

// ======== Summary section ========

.summary-section {
  padding-top: 210px;
  background-color: #f9f2eb;
  position: relative;

  @media screen and (max-width: 1511px) {
    padding-top: 200px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 120px;
  }
}

.summary-content-block {
  position: relative;
  border-radius: 60px;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-height: 1340px;

  aspect-ratio: 1480/1340;

  @media screen and (max-width: 1151px) {
    aspect-ratio: 736 /1340;
  }

  @media screen and (max-width: 767px) {
    aspect-ratio: 343 /820;
    border-radius: 20px;
    max-height: 820px;
  }
}

.summary-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.summary-text-block {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;

  @media screen and (max-width: 767px) {
    top: 60px;
  }
}

.summary-title {
  @include title-text;

  font-size: 96px;
  margin-bottom: 40px;
  color: #255599;
  text-align: center;

  @media screen and (max-width: 767px) {
    font-size: 48px;
    margin-bottom: 20px;
  }
}

.summary-text {
  @include subtitle-text;

  font-size: 36px;
  max-width: 732px;
  color: #4d4636;
  text-align: center;
  margin-bottom: 60px;

  @media screen and (max-width: 1151px) {
    min-width: 548px;
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    margin-bottom: 40px;
    min-width: 303px;
  }
}

.summary-link {
  @include general-text;

  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #292925;
  display: block;
  margin: auto;

  background-color: #ff693c;
  padding: 15px;
  border-radius: 100px;
  max-width: 358px;

  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    color: #f9f2eb;
    background-color: rgb(234, 99, 58);
  }
}

.summary-decor-1,
.summary-decor-2 {
  position: absolute;
  top: 333px;
  object-fit: contain;

  @media screen and (max-width: 1511px) {
    display: none;
  }
}

.summary-decor-1 {
  left: -300px;
  width: 792px;
  height: 680px;
}

.summary-decor-2 {
  right: -300px;
  width: 792px;
  height: 680px;
}

// ======== Gallery section ========
// ======== About section ========
