footer.footer(id="contacts")
    .contacts-bg.container
        h2.contacts__title.chars-anim Контакти
        .contacts__content
            ul.contacts__list
                li
                    label Наша адреса
                    a(href="").contacts__link  Дніпровська набережна, 17К 
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.83853 23.3337L18.5053 10.6671H10.667V6.66706H25.3337V21.3337H21.3337V13.4955L8.66696 26.1621L5.83853 23.3337Z" fill="#F9F2EB"/>
                        </svg>
                li
                    label Графік роботи
                    p.contacts__link Пн-Пт: 09:00-19:00 
                        br
                        | Сб: 10:00-17:00
                        br
                        | Нд: вихідний
                li
                    label Зателефонувати нам
                    a(href="tel:380732884610").contacts__link  +380 73 288 46 10
            .map-wrap 
                .map-simple
                    //- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.4655512733646!2d30.48005346424529!3d50.45432172261185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce69468a04a1%3A0x682543b68f7159b0!2z0KDQhtCV0Jsg4oCTINCy0ZbQtNC00ZbQuyDRgdC10YDQstGW0YHRgyDRgyDQmtC40ZTQstGW!5e0!3m2!1suk!2sua!4v1747174524823!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        button.general-btn(data-call-us-btn) 
            span Замовити дзвінок
    <svg class="icon--sisters-footer" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 110 20" fill="none">
        <path d="M4.95725 7.80171V4.28088H10.2243C12.0559 4.28088 12.7038 4.7597 12.7038 6.02706C12.7038 7.29441 12.0559 7.80171 10.2243 7.80171H4.95725ZM4.95725 15.4361V11.8583H10.4503C12.2819 11.8583 12.9566 12.3371 12.9566 13.633C12.9566 14.9288 12.2802 15.4361 10.4503 15.4361H4.95725ZM0 19.717H11.2389C15.6888 19.717 18.2253 17.6896 18.2253 14.2809C18.2253 11.9705 17.015 10.4788 14.733 9.80242V9.4927C16.7052 8.78783 17.8604 7.40833 17.8604 5.38092C17.8604 1.97223 15.6639 0 10.9594 0H0.00178173V19.717H0Z" fill="#FF693C"/>
        <path d="M19.5389 8.73264V19.7188H24.2149V9.85938H31.2281V5.63367H22.6361C20.6353 5.63367 19.5371 6.73193 19.5371 8.73264H19.5389Z" fill="#FF693C"/>
        <path d="M39.8681 15.7743C37.5577 15.7743 36.4879 14.7882 36.4879 12.6753C36.4879 10.5625 37.5577 9.57636 39.8681 9.57636C42.1785 9.57636 43.2483 10.5625 43.2483 12.6753C43.2483 14.7882 42.1785 15.7743 39.8681 15.7743ZM39.8681 20C44.7702 20 48.0365 17.2677 48.0365 12.6771C48.0365 8.08651 45.1351 5.35422 39.8681 5.35422C34.966 5.35422 31.6997 8.08651 31.6997 12.6771C31.6997 17.2677 34.6011 20 39.8681 20Z" fill="#FF693C"/>
        <path d="M52.0843 2.25347V5.63367H48.4229V9.85938H52.0843V16.6198C52.0843 18.6205 53.1825 19.7188 55.1833 19.7188H61.8315V15.607H56.7621V9.86116H61.8315V5.63545H56.7621V1.12851L52.086 2.25525L52.0843 2.25347Z" fill="#FF693C"/>
        <path d="M63.3569 19.717H68.033V12.5062C68.033 10.5055 69.0476 9.57636 71.2441 9.57636C73.2448 9.57636 74.174 10.5055 74.174 12.5062V19.717H78.907V11.5486C78.907 7.43681 76.8226 5.35244 72.766 5.35244C70.9077 5.35244 69.3858 6.00035 68.2875 7.21075H68.0348V0H63.3587V19.717H63.3569Z" fill="#FF693C"/>
        <path d="M84.8878 11.2104C85.0569 9.8309 86.0715 9.18298 88.211 9.18298C90.3506 9.18298 91.4222 9.77394 91.6197 11.2104H84.8878ZM96.2121 12.8444C96.2121 7.94232 93.4229 5.35244 88.1559 5.35244C83.1986 5.35244 80.1851 8.11321 80.1851 12.6753C80.1851 17.2375 83.1149 19.9982 88.2698 19.9982C92.3816 19.9982 95.1993 18.252 95.8472 15.4628H90.833C90.3827 15.9416 89.5371 16.1944 88.2128 16.1944C86.0999 16.1944 85.0854 15.5749 84.8896 14.0246H96.2139V12.8409L96.2121 12.8444Z" fill="#FF693C"/>
        <path d="M97.5452 8.73264V19.7188H102.221V9.85938H109.234V5.63367H100.642C98.6417 5.63367 97.5435 6.73193 97.5435 8.73264H97.5452Z" fill="#FF693C"/>
    </svg>
