$default-font: 'Riel', sans-serif;
$default-font2: 'montser', sans-serif;

$mc2: #ff554c;
$mc3: #e5df06;
$mc4: #4f90b6;
$gray: #878797;
$text: #22223e;
$wc: rgb(249, 242, 235);
$bc: rgb(41, 41, 37);

$bg-color: rgb(249, 242, 235);
$accent-color: rgb(242, 209, 41);
$text-color: rgb(41, 41, 37);
$second-accent-color: rgb(255, 105, 60);
$border-color: rgba(41, 41, 37, 0.2);
$second-accent-color--hover: rgb(234 99 58);
$accent-color--hover: rgb(41, 41, 37);

@mixin title-text() {
  font-size: 40px;
  font-family: $default-font;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  text-decoration: none;

  @include tablet {
    font-size: 6.3vw;
  }
}

@mixin subtitle-text() {
  font-size: 30px;
  font-family: $default-font;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  text-decoration: none;

  @include tablet {
    font-size: 4.23vw;
  }
}

@mixin block-subtitle() {
  font-size: 24px;
  font-family: $default-font;
  font-weight: 400;
  font-style: normal;
  line-height: 125%;
  text-decoration: none;
  text-transform: none;

  @include tablet {
    font-size: 3.17vw;
    line-height: 116%;
  }
}

@mixin general-text() {
  font-size: 18px;
  font-family: $default-font;
  font-weight: 400;
  font-style: normal;
  line-height: 133%;
  text-decoration: none;
  text-transform: none;

  @include tablet {
    font-size: 1.38vw;
  }
}

@mixin general-text-bold() {
  font-size: 18px;
  font-family: $default-font;
  font-weight: 700;
  font-style: normal;
  line-height: 133%;
  text-decoration: none;
  text-transform: none;

  @include tablet {
    font-size: 1.38vw;
  }
}

@mixin tiny-text() {
  font-size: 16px;
  font-family: $default-font;
  font-weight: 500;
  font-style: normal;
  line-height: normal;

  text-decoration: none;

  // @include tablet {
  // 	font-size: 1.05vw;
  // }
}

@function vw($px) {
  @return ($px / 1512) * 100vw;
}

@function vw_tab($px) {
  @return ($px / 768) * 100vw;
}

@function vw_mob($px) {
  @return ($px / 375) * 100vw;
}
